body {
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  /*background-color: #2e2d2dde;*/
  background: rgb(237, 237, 237);
  background: radial-gradient(
    circle,
    rgba(237, 237, 237, 1) 0%,
    rgba(122, 122, 131, 1) 0%,
    rgba(0, 0, 0, 1) 67%
  );
  height: 230px;
  justify-content: space-between;
  align-items: center;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 60%;
  height: auto;
}

.header-container {
  display: flex;
  padding: 8px;
  gap: 4px;
}

.header-btn {
  color: black;
  width: 5em;
  height: 2em;
}

.testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
}

.test {
  width: 70%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
